[submodule "System/DEM/O2Micro.Cobra.Woodpecker8"]
	path = System/DEM/O2Micro.Cobra.Woodpecker8
	url = https://github.com/happylennychen/O2Micro.Cobra.Woodpecker8
[submodule "System/DEM/O2Micro.Cobra.KALL8"]
	path = System/DEM/O2Micro.Cobra.KALL8
	url = https://github.com/happylennychen/O2Micro.Cobra.KALL8
[submodule "System/DEM/O2Micro.Cobra.Azalea14"]
	path = System/DEM/O2Micro.Cobra.Azalea14
	url = https://github.com/happylennychen/O2Micro.Cobra.Azalea14
[submodule "System/DEM/O2Micro.Cobra.KALL10"]
	path = System/DEM/O2Micro.Cobra.KALL10
	url = https://github.com/happylennychen/O2Micro.Cobra.KALL10
[submodule "System/DEM/O2Micro.Cobra.KALL14"]
	path = System/DEM/O2Micro.Cobra.KALL14
	url = https://github.com/happylennychen/O2Micro.Cobra.KALL14
[submodule "System/DEM/O2Micro.Cobra.OZ1C601"]
	path = System/DEM/O2Micro.Cobra.OZ1C601
	url = https://github.com/happylennychen/O2Micro.Cobra.OZ1C601
[submodule "System/DEM/O2Micro.Cobra.KALL17"]
	path = System/DEM/O2Micro.Cobra.KALL17
	url = https://github.com/happylennychen/O2Micro.Cobra.KALL17
[submodule "System/DEM/O2Micro.Cobra.HQG"]
	path = System/DEM/O2Micro.Cobra.HQG
	url = https://github.com/happylennychen/O2Micro.Cobra.HQG
[submodule "System/DEM/O2Micro.Cobra.Yeti"]
	path = System/DEM/O2Micro.Cobra.Yeti
	url = https://github.com/happylennychen/O2Micro.Cobra.Yeti
[submodule "System/DEM/O2Micro.Cobra.SP8G2"]
	path = System/DEM/O2Micro.Cobra.SP8G2
	url = https://github.com/happylennychen/O2Micro.Cobra.SP8G2
[submodule "System/DEM/O2Micro.Cobra.OZ1C601D"]
	path = System/DEM/O2Micro.Cobra.OZ1C601D
	url = https://github.com/happylennychen/O2Micro.Cobra.OZ1C601D
[submodule "System/DEM/O2Micro.Cobra.Woodpecker10"]
	path = System/DEM/O2Micro.Cobra.Woodpecker10
	url = https://github.com/happylennychen/O2Micro.Cobra.Woodpecker10
[submodule "System/DEM/O2Micro.Cobra.Wizards"]
	path = System/DEM/O2Micro.Cobra.Wizards
	url = https://github.com/happylennychen/O2Micro.Cobra.Wizards
